<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BTMS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BTMS.My.MySettings.GovEngineConnectionString_ix" connectionString="Data Source=C:\BTMS\Release\GovEngine.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
  
      <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0"/>
      </startup>
    
    <userSettings>
        <BTMS.My.MySettings>
            <setting name="LocalConnectionString" serializeAs="String">
                <value>Data Source=C:\BTMS\Release\GovEngine.sdf</value>
            </setting>
            <setting name="DatabasePath" serializeAs="String">
                <value>C:\BTMS\Release\GovEngine.sdf</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>DEPARTMENT OF INTERIOR AND LOCAL GOVERNMENT
REGIONAL OFFICE I</value>
            </setting>
            <setting name="Region" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompanyLogo" serializeAs="String">
                <value />
            </setting>
            <setting name="dtr_remarks_for_absent" serializeAs="String">
                <value>Absent</value>
            </setting>
            <setting name="sra_remarks_for_absent" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="dtr_remarks_for_dayoff" serializeAs="String">
                <value>Off</value>
            </setting>
            <setting name="sra_remarks_for_dayoff" serializeAs="String">
                <value>Off</value>
            </setting>
            <setting name="DbBackup_initialpath" serializeAs="String">
                <value>C:\BTMS\Backup\</value>
            </setting>
            <setting name="GovEngineConnectionString_ixold" serializeAs="String">
                <value>Data Source=|DataDirectory|\GovEngine.sdf</value>
            </setting>
            <setting name="Engineeredby" serializeAs="String">
                <value>Author: Brylle Lloren</value>
            </setting>
            <setting name="dilg_flex_onduty_rules" serializeAs="String">
                <value>07:30</value>
            </setting>
            <setting name="dilg_flex_offduty_rules" serializeAs="String">
                <value>16:30</value>
            </setting>
            <setting name="dilg_rules_enabled" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="zk_con_string" serializeAs="String">
                <value />
            </setting>
            <setting name="zk_mdb_path" serializeAs="String">
                <value />
            </setting>
            <setting name="att2000_sync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DPWH_Rules" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MOD_FORGET_CIN_COUT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RTM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DTR_A" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DTR_B" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DTR_C" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DTR_D" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DTR_E" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DTR_F" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rsrv_0" serializeAs="String">
                <value />
            </setting>
            <setting name="rsrv_1" serializeAs="String">
                <value />
            </setting>
            <setting name="rsrv_2" serializeAs="String">
                <value />
            </setting>
            <setting name="rsrv_3" serializeAs="String">
                <value />
            </setting>
            <setting name="rsrv_4" serializeAs="String">
                <value />
            </setting>
            <setting name="rsrv_5" serializeAs="String">
                <value />
            </setting>
            <setting name="rsrv_6" serializeAs="String">
                <value />
            </setting>
            <setting name="rsrv_7" serializeAs="String">
                <value />
            </setting>
            <setting name="rsrv_8" serializeAs="String">
                <value />
            </setting>
            <setting name="dilg_0b1001" serializeAs="String">
                <value />
            </setting>
            <setting name="dilg_0b1000" serializeAs="String">
                <value />
            </setting>
            <setting name="dilg_0b0001" serializeAs="String">
                <value />
            </setting>
            <setting name="dilg_0b0011" serializeAs="String">
                <value />
            </setting>
            <setting name="dilg_0b1100" serializeAs="String">
                <value />
            </setting>
            <setting name="dilg_0b1101" serializeAs="String">
                <value />
            </setting>
            <setting name="dilg_0b0111" serializeAs="String">
                <value />
            </setting>
            <setting name="dilg_0b0100" serializeAs="String">
                <value />
            </setting>
            <setting name="dilg_0b1011" serializeAs="String">
                <value />
            </setting>
            <setting name="dilg_0b0110" serializeAs="String">
                <value />
            </setting>
            <setting name="dilg_0b0010" serializeAs="String">
                <value />
            </setting>
            <setting name="dilg_0b1110" serializeAs="String">
                <value />
            </setting>
        </BTMS.My.MySettings>
    </userSettings>
</configuration>
